/* #que{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 40px;
    font-weight: bold;
}

#titol {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px; 
    margin-left: 18px;
}

.jumbotron {
    background-color: #ffc107;
}

li {
    margin-top: 20px;
    font-size: 23px;
    font-weight: bold;
}

ul {
    list-style: none;
}

#queInput {
    margin-bottom: 25px;
}

label {
    font-size: 30px; 
} 

*/

body {
    background-color: #a31862;
    padding-left: 0px;
    padding-right: 0px;
}


.container-fluid {
    padding: 0px;
    
    
}


.col {
    padding-left: 0px;
    padding-right: 10px;
    margin-top: 20px;
    margin-right: 20px;

    
}

h2 {
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    font-size: 17px;
    


}

.btn-primary {

    margin-top: 30px;
    margin-left: 30px;
    background-color: #2d5c88;
    border: 2px solid white;
}

.form-control {
    margin-left: 30px;
    width: 500px;
}

.item {
    display: block;
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #2d5c88;
    /* background-color: #FF0033; 
    background-color: #00CC66;*/
    color: white;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    cursor: default;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.title-container {
    position: absolute;
    top: 35%;
    left: 40%;
    
}

.title {
    font-size: 45px;
    
}

.circle-container {
    position: relative;
    /* 1 */
    width: 30em;
    height: 30em;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    /* 2 */
    box-sizing: content-box;
    /* 3 */
    margin: 15em 15em 0;
  }
  .circle-container > * {
    /* 4 */
    display: block;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 3em;
    height: 3em;
    margin: -4.5em;
  }
  .circle-container > :nth-of-type(1) {
    transform: rotate(0deg) translate(15em) rotate(0deg);
  }
  .circle-container > :nth-of-type(2) {
    transform: rotate(13.3333333333deg) translate(15em) rotate(-13.3333333333deg);
  }
  .circle-container > :nth-of-type(3) {
    transform: rotate(26.6666666667deg) translate(15em) rotate(-26.6666666667deg);
  }
  .circle-container > :nth-of-type(4) {
    transform: rotate(40deg) translate(15em) rotate(-40deg);
  }
  .circle-container > :nth-of-type(5) {
    transform: rotate(53.3333333333deg) translate(15em) rotate(-53.3333333333deg);
  }
  .circle-container > :nth-of-type(6) {
    transform: rotate(66.6666666667deg) translate(15em) rotate(-66.6666666667deg);
  }
  .circle-container > :nth-of-type(7) {
    transform: rotate(80deg) translate(15em) rotate(-80deg);
  }
  .circle-container > :nth-of-type(8) {
    transform: rotate(93.3333333333deg) translate(15em) rotate(-93.3333333333deg);
  }
  .circle-container > :nth-of-type(9) {
    transform: rotate(106.6666666667deg) translate(15em) rotate(-106.6666666667deg);
  }
  .circle-container > :nth-of-type(10) {
    transform: rotate(120deg) translate(15em) rotate(-120deg);
  }
  .circle-container > :nth-of-type(11) {
    transform: rotate(133.3333333333deg) translate(15em) rotate(-133.3333333333deg);
  }
  .circle-container > :nth-of-type(12) {
    transform: rotate(146.6666666667deg) translate(15em) rotate(-146.6666666667deg);
  }
  .circle-container > :nth-of-type(13) {
    transform: rotate(160deg) translate(15em) rotate(-160deg);
  }
  .circle-container > :nth-of-type(14) {
    transform: rotate(173.3333333333deg) translate(15em) rotate(-173.3333333333deg);
  }
  .circle-container > :nth-of-type(15) {
    transform: rotate(186.6666666667deg) translate(15em) rotate(-186.6666666667deg);
  }
  .circle-container > :nth-of-type(16) {
    transform: rotate(200deg) translate(15em) rotate(-200deg);
  }
  .circle-container > :nth-of-type(17) {
    transform: rotate(213.3333333333deg) translate(15em) rotate(-213.3333333333deg);
  }
  .circle-container > :nth-of-type(18) {
    transform: rotate(226.6666666667deg) translate(15em) rotate(-226.6666666667deg);
  }
  .circle-container > :nth-of-type(19) {
    transform: rotate(240deg) translate(15em) rotate(-240deg);
  }
  .circle-container > :nth-of-type(20) {
    transform: rotate(253.3333333333deg) translate(15em) rotate(-253.3333333333deg);
  }
  .circle-container > :nth-of-type(21) {
    transform: rotate(266.6666666667deg) translate(15em) rotate(-266.6666666667deg);
  }
  .circle-container > :nth-of-type(22) {
    transform: rotate(280deg) translate(15em) rotate(-280deg);
  }
  .circle-container > :nth-of-type(23) {
    transform: rotate(293.3333333333deg) translate(15em) rotate(-293.3333333333deg);
  }
  .circle-container > :nth-of-type(24) {
    transform: rotate(306.6666666667deg) translate(15em) rotate(-306.6666666667deg);
  }
  .circle-container > :nth-of-type(25) {
    transform: rotate(320deg) translate(15em) rotate(-320deg);
  }
  .circle-container > :nth-of-type(26) {
    transform: rotate(333.3333333333deg) translate(15em) rotate(-333.3333333333deg);
  }
  .circle-container > :nth-of-type(27) {
    transform: rotate(346.6666666667deg) translate(15em) rotate(-346.6666666667deg);
  }
  
  .circle-container {
    display: block;
    width: 100%;
    border-radius: 50%;

  }

  